.link{
    text-decoration: none;
}
.headingDecoration{
    font-family: 'Jana', sans-serif;
    color: #48BF53;
}

.headerColor{
    background-color: rgb(152,251,152)! important;
}
.headerMenuColor{
    background-color: #48BF53;
    height: 60px;
    align-items: center ;
}
.iconNav{
    font-size: 1.6rem;
}
.gear{
    font-size: 1.6rem;
    width: 64px;
}
.logo{
    width: 150px;
    height: 150px;
    padding-right: -12px;
}
.title{
    font-family: 'Walkway Condensed SemiBold', sans-serif;
}
.bootIcons{
font-size: 2.6rem;
color: black;
}
.required{
    font-size: 10px;
}
.addAPhoto{
    width: 150px;
    border: solid 1px black;
    margin-bottom: 12px ;
}
.iconNav{
    font-size: 1.6rem;
}
/* home page */
.backgroundImg{
    height: 60vh;
    width: 100%;
    background-image: url(../img/backgroundDogImg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.homeExplanation{
    display: flex;
    height: 100%;
    margin-left: 100px;
    align-items: center;
}
.cardHome{
    background: rgba( 72, 191, 83, 0.6 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 8.5px );
    -webkit-backdrop-filter: blur( 8.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.homeCard{
    width: 18rem;
    border: none;
}
.smartphone{
    height:180px;
    width: 130px;
    margin-bottom: 30px;
}
.illuDog{
    margin-bottom: 20px;
}
.bgHowItWork{
    background-color:	rgb(152,251,152);
}
.illuFront{
    width: 400px;
    height: 340px;
}
.dogOfTheMonth{
    object-fit: cover;
    height: 400px;
    width: 400px;
    object-fit: cover;
    display: flex;
    justify-content: center;
    
}
/* up and down pour le bouton a la fin de la page home */
i.vert-move {
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
i.vert-move {
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}





/* Media queries pour la nav bar */
@media screen and (min-width:576px) {
    .navBarSm{
        display: none;
    }
    .gear{
        font-size: 3.6rem;
    }
    .logo{
        height: 200px ;
        width: 200px ;
    }
    .title{
        font-size: 80px;
    }
    .text404{
        background: rgba( 255, 255, 255, 0.2 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 8px );
        -webkit-backdrop-filter: blur( 8px );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
        font-size: 150px;
    }
    .sloganText404{
        font-size: 30px;
    }
    .cardSizes{
        width: 32%;
    }


}

@media screen and (max-width:576px) {
    .navBarLg{
        display: none;
    }
    .joParis{
        height: 200px;
    }
    .profilPicNone{
        display: none;
    }
    .homeExplanation{
        margin-left: 5px;
    }
}